
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
}

/* Navbar Section */

#navbar {
  position: fixed;
  z-index: 99;
  width: 70%;
  height: 100vh;
  transform: translateX(-102%);
  transition: transform 0.5s ease-in;
}

.nav-active {
  transform: translateX(0) !important;
} 

.logo {
  display: none;
}
/* 
#navbar ul {
  padding-top: 100px;
  padding-right: 20%;
  padding-left: 30px;
} */


.last-link {
  border: none !important;
} 

/* .focused {
  text-align: center;
  margin-top: 40px;
  border: none !important;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 5px 5px 15px var(--primary-color);
} */

 .humberger {
  position: fixed;
  z-index: 9999;
  padding: 30px;
  cursor: pointer;
} 

.humberger div {
  width: 35px;
  background-color: gray;
  margin: 6px;
  height: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
} 

 .toggle .line1 {
  transform: rotate(-45deg) translate(-9px, 9px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-10px, -10px);
} 

.intro {
  background-color: #0f0033;
  height:96vh;
  padding: 10%  10%;
}

.text_h2 h2 {
  color: white;
  padding-top: 0;
  font-size: 34px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer-title {
  font-weight: 600;
  font-size: 15px;
  font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 0;
  padding-bottom: 0;
} 
.button{
  width: 10%;
  color: #003366;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  float: left;
  border: none; 
  font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: sticky;
  display: flex;
  align-items: center;
  transition-property: background; 
  transition-duration: 300ms; 
  transition-delay: 0s;
  animation: push 300ms linear 300ms; 
  background-color: white;
  transition-delay: 300ms;
}
.button:hover {
  width: 10%;
  background-color:  #003366; 
  color:white;
  font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position:flex;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  float: left;
  border: none;
  box-shadow: 0 0 10px whitesmoke;
}
.mt{
  float: none;
  position:relative;
  top:33%;
  left:60%;
  right: 1%;
  max-width:40%;
} 


/* jumBtron2 */

.services h3 {
  padding: 20px 18px; 
  margin-bottom: 0;
  text-align:center;
  font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: #003366;

}
.services h4 {
vertical-align: middle;
padding: 8px 18px; 
color: #003366;
text-align:center;
margin-bottom: 40px;
font-weight: 400;
line-height: 1.4;
font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* About us */

/* Desktop Version */
@media screen and (min-width: 768px) {

.content { background-image: none; 
} 

#navigation-mobile {
 display: none;
}
.logo img {
  width: 60px;
  padding-bottom: 27px;
  }
.logo {
  display: block;
  width: 70px;
  }
  
/* Navbar */
#navbar {
  position: static;
  display: flex;
  transform: translateX(0);
  z-index: 99;
  position:fixed;
  display: flex;
  z-index: 9999;
  width: 100%;
  height: 70px;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
  top:0;
  left:0;
  right:0;
}


#navbar ul li a {
  color:#6c757d;
  font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 3px solid transparent;
  color: inherit;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
} 

#navbar ul li a:hover {
  background-color: white;
  border-bottom-color: blue;
 
}

#navbar ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px 0;
  gap: 40px;
}

#navbar ul li {
  border: none;
  padding: 0;
  font-size: 15px;
  font-weight: 800;
  color: #4c4c4c;
  font: 500 16px/1.25 din-round,sans-serif;
    list-style-type: none;
}
.humberger {
  display: none;
}

.humberger div {
  display: none;
}


/* Introduction Section */
.intro {
  background-color: #0f0033;
  height:96vh;
  padding: 30px 120px;
}

.text_h2 h2 {
  color: white;
  padding-top: 0;
  font-size: 34px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer-title {
  font-weight: 600;
  font-size: 15px;
  font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 0;
  padding-bottom: 0;
} 
.button{
  width: 10%;
  color: #003366;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  float: left;
  border: none; 
  font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: sticky;
  display: flex;
  align-items: center;
  transition-property: background; 
  transition-duration: 300ms; 
  transition-delay: 0s;
  animation: push 300ms linear 300ms; 
  background-color: white;
  transition-delay: 300ms;
}
.button:hover {
  width: 10%;
  background-color:  #003366; 
  color:white;
  font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position:flex;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  float: left;
  border: none;
  box-shadow: 0 0 10px whitesmoke;
}
.mt{
  float: none;
  position:relative;
  top:33%;
  left:60%;
  right: 1%;
  max-width:40%;
} 

 /* services */

 
.services {
background: white;
padding:60px;
position: relative;
}
.services h3 {
  padding: 20px 18px; 
  margin-bottom: 0;
  text-align:center;
  font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: #003366;

}
.services h4 {
vertical-align: middle;
padding: 8px 18px; 
color: #003366;
text-align:center;
margin-bottom: 40px;
font-weight: 400;
line-height: 1.4;
font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.services h5{
  font-size: 18px;
  font-weight: 400;
  line-height: 3;
  margin-bottom: 0;
}
.row {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}
.cards{
align-items: center;
flex: 1 1 20rem;
padding: 14px 10px ;
align-self: normal;
margin-left: 9px;
background: #fff;
padding: 25px 30px 34px;
display: flex;
flex-direction: column;
-o-transition: all .7s cubic-bezier(.645,.045,.355,1);
transition: all .7s cubic-bezier(.645,.045,.355,1);
box-shadow: 0 0 30px rgb(128 128 128 / 24%)
}
.cards:hover{
-webkit-transform: translateY(-5px);
transform: translateY(-5px);
}

.card h5{
text-align: center;
font-size: 1.3rem;
text-transform: uppercase;
margin: 10px 0;
font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.card p{
margin-bottom: 10px;
text-align: center;
font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* footer section */
.title_1 {
  /* 
  padding-bottom: 50px;
  margin-bottom: 0;
 
  font-weight: 700;
  line-height: 1.5;
  color: white; */
  color: white;
  font-size: 54px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 30px;
}
.title_2 {
color: white;
font-size: 23px;
text-align: center;
font-family: 'Roboto', sans-serif, Myrid, "Helvetica Neue", Helvetica, Arial, sans-serif;
float: left;
}

}